@model ListRoomViewModel


<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Class</th>
            <th>Department</th>
            <th>Subject</th>
            <th>Made By</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @{
            int index = 1;
        }
        @foreach (var room in Model.Rooms)
        {
            <tr>
                @{
                    <td>@index</td>
                    index++;
                }
                <td>@room.Title</td>
                <td>@room.Class</td>
                <td>
                    @switch (room.DepartmentId)
                    {

                        case 1:
                            <text>Computer Science</text>
                            break;
                        case 2:
                            <text>Information Technology</text>
                            break;
                        case 3:
                            <text>Information System</text>
                            break;
                    }

                </td>
                <td>@room.Subject</td>
                <td>@room.ApplicationUser.UserName</td>
                <td>
                    <a asp-controller="Room" asp-action="ExamRoom" asp-route-id="@room.Id" asp-route-UserName="@User.Identity.Name" class="btn btn-primary">
                        join
                    </a>

                    <a asp-controller="Room" asp-action="ShowResult" asp-route-id="@room.Id" asp-route-UserName="@User.Identity.Name" class="btn btn-per">
                        Exam Results
                    </a>
                </td>
            </tr>

        }
    </tbody>
</table>